body, html {
  background-color: #fff;
}

:root {
  --color-login-text: #ffffff;
  --color-login-bg: #FE7B00;
  --color-login-error-text: red;
  --color-login-hover-text: #ffffff;
  --color-login-hover-bg: #db6a00;
  --color-login-active-bg: #d94c00;
  --color-login-disable-bg: #b7b7b7;
}

.uiv-login-wrapper {
  display: flex;
  min-height: 100vh;
}
.uiv-login-wrapper > div:first-child {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
}
.uiv-login-wrapper > div:last-child {
  max-width: 680px;
  min-width: 420px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.uiv-login-logo {
  padding-bottom: 12px;
}
.uiv-login-logo img {
  max-height: 83px;
}

.uiv-login-form {
  padding: 0 12px;
}
.uiv-login-form h2 {
  font-size: 14px;
  padding-bottom: 12px;
}
.uiv-login-form input {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
  box-sizing: border-box;
  background: #fff;
  height: 30px;
  margin: 0!important;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #393e48;
  font-weight: 400;
  font-size: 14px;
  transition: box-shadow .3s cubic-bezier(.4,1,.75,.9);
  appearance: none;
  min-width: 260px;
}

.uiv-login-field {
  position: relative;
  font-size: 12px;
  margin-bottom: 20px;
}
.uiv-login-field > div {
  position: absolute;
  color: var(--color-login-error-text);
}
.uiv-login-form input:hover, .uiv-login-form input:active, .uiv-login-form input:focus {
  box-shadow: 0 0 0 1px var(--color-login-hover-bg), 0 0 0 3px rgb(57 62 72 / 0%), inset 0 1px 1px rgb(16 22 26 / 20%);
}
.uiv-login-form input.error {
  box-shadow: 0 0 0 1px var(--color-login-error-text), 0 0 0 3px rgb(57 62 72 / 0%), inset 0 1px 1px rgb(16 22 26 / 20%);
}

.uiv-login-button {
  display: flex;
}
.uiv-login-button button + button {
  margin-left: 8px;
}
.uiv-login-button button {
  flex: 1;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  background-color: var(--color-login-bg);
  position: relative;
  vertical-align: middle;
  transition: background-color .5s, opacity 1s;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  padding: 5px 7px;
  color: var(--color-login-text);
}
.uiv-login-button button:hover {
  background-color: var(--color-login-hover-bg);
  z-index: 2;
}
.uiv-login-button button:active {
  background-color: var(--color-login-active-bg);
}
.uiv-login-button button:disabled {
  background-color: var(--color-login-disable-bg);
}